---
---

@import "normalize";
@import "colors";
@import "base";
@import "flexboxgrid";
@import "mixins";
@import "highlight";
@import "include_media";

body {
  background-color: $bg-white;
}

.header {
  padding: 39px 42px;

  font-size: 18px;
  line-height: 18px;
  color: $darkest-grey;
}

.avatar {
  border-radius: 46px;

  @include at2x("avatar", 92px, 92px);

  &--easter-egg {
    display: none;

    @include at2x("avatar_easter_egg", 92px, 92px);
  }

  &--active {
    display: block;
  }

  &--movable {
    position: absolute;
  }
}

.page {
  padding-bottom: 60px;

  &__body {
    width: 960px;
    margin: 0 auto;

    margin-top: 30px;
  }

  &__posts-list {
    margin-top: 60px;
  }
}

.posts-list {
  &__item {
    & + & {
      margin-top: 60px;
    }
  }
}

.post {
  font-size: 18px;
  line-height: 32px;

  &__date {
    margin-bottom: 5px;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $darker-grey;
  }

  &__title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: $dark-blue;
  }

  &__title + &__content p {
    margin-top: 10px;
  }

  &__content {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $copy-black;

    .gist {
      margin: 10px 0;
    }

    a {
      border-bottom: 1px solid $copy-black;
    }

    p,
    iframe,
    figure,
    .highlighter-rouge {
      margin-top: 20px;
    }

    h2,
    h3 {
      margin-top: 30px;
    }

    h3 + p {
      margin-top: 0;
    }

    h3 {
      font-family: 'Cabin', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: $dark-blue;
    }

    blockquote {
      margin: 20px 0;
      padding: 15px 15px;

      border-left: $grey 10px solid;
      box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.5);

      font-style: italic;

      cite {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__credits {
    margin-top: 50px;
  }

  &__comments {
    margin-top: 50px;
  }

  &__cellar {
    margin-top: 50px;
  }
}

.b-head {
  height: 36px;
}

.b-head__nav {
  float: right;
  line-height: 34px;
}

.b-menu__item {
  display: inline-block;
  margin-left: 15px;

  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 18px;
  color: $darkest-grey;
  text-decoration: none;

  list-style: none;


  &--active {
    padding-bottom: 4px;

    border-bottom: 2px solid grey;

    font-weight: bold;
    color: #000;
  }
}

.highlight {
  padding: 5px 10px;
  overflow-x: auto;

  border: 1px solid #E2E2E2;

  background: #FFF;

  font-size: 12px;
  line-height: 20px;
}

.tweet {
  display: inline-block;
  padding: 17px 45px;

  border-radius: 29px;

  background-color: #4187FF;

  &__container {
    display: flex;
  }

  &__icon {
    font-size: 24px;
    color: #FFF;
  }

  &__text {
    margin-left: 13px;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #FFF;
  }

  &:hover {
    background-color: #1B6FFF;
  }
}

.credits {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;

  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 2px;
}

figcaption {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 18px;
  color: $darkest-grey;
  text-decoration: none;
}

@include media("<=phone") {
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 8px;
  }

  .page {
    padding: 0 10px 40px;

    &__posts-list {
      margin-top: 0;
    }

    &__avatar {
      display: none;
    }

    &__body {
      width: 100%;
      margin-top: 20px;
    }
  }

  .post {
    &__credits {
      margin-top: 40px;
    }

    &__comments {
      margin-top: 40px;
    }
  }

  .credits {
    justify-content: center;
  }

  img {
    width: 100%;
  }
}
