<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link href="images/favicon.gif" rel="shortcut icon" type="image/vnd.microsoft.icon" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/head.css">
  </head>

  <body class="b-page">
    {% if page.url == '/' %}
      <div class="b-page__head-picture"></div>
    {% endif %}

    <div class="b-page__line">
      <div class="b-head">
        <div class="b-head__logo">
          <div class="b-logo">
            <div class="b-logo__avatar-container">
              <a class="b-logo__avatar" href="/"></a>
            </div>

            <div class="b-logo__username-container">
              <a class="b-logo__username" href="/">@makaroni4</a>
            </div>
          </div>
        </div>
        <div class="b-head__nav">
          <ul class="b-menu">
            <li class="b-menu__item"><a class="b-menu__item-link" href="/">posts</a></li>
            <li class="b-menu__item"><a class="b-menu__item-link" href="/about/">about</a></li>
          </ul>
        </div>
      </div>
    </div>

    {% if page.url == '/' %}
      <div class="b-page__line">
        <div class="b-index-greeting">
          My name is <b>Anatoli Makarevich</b>, enthusiastic human, <b>rubyist<img src="/images/ruby_sup.png" width="16px" height="16px"/></b>, book reader, design and business thinker.
        </div>
      </div>
    {% endif %}

    {{ content }}

    <div class="b-page__footer">
      <ul class="b-page-footer__contacts">
        <li class="b-contact-item"><a class="b-contact-item__link" href="https://github.com/makaroni4"><i class="fa fa-github"></i></a></li>
        <li class="b-contact-item"><a class="b-contact-item__link" href="http://www.linkedin.com/pub/%D0%B0%D0%BD%D0%B0%D1%82%D0%BE%D0%BB%D0%B8%D0%B9-%D0%BC%D0%B0%D0%BA%D0%B0%D1%80%D0%B5%D0%B2%D0%B8%D1%87/14/b8b/689"><i class="fa fa-linkedin-square"></i></a></li>
        <li class="b-contact-item"><a class="b-contact-item__link" href="http://instagram.com/_makaroni4"><i class="fa fa-instagram"></i></a></li>
        <li class="b-contact-item"><a class="b-contact-item__link" href="https://www.facebook.com/anatoly.makarevich"><i class="fa fa-facebook-square"></i></a></li>
        <li class="b-contact-item"><a class="b-contact-item__link" href="https://twitter.com/makaroni4"><i class="fa fa-twitter"></i></a></li>
        <li class="b-contact-item"><a class="b-contact-item__link" href="mailto:makaroni4@gmail.com"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </body>
</html>
