<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WSLPDMF');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/images/favicon.gif" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Inconsolata:400,700|Merriweather:300" rel="stylesheet">

    {% feed_meta %}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/head.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/avatar.js"></script>
    <script type="text/javascript" src="/js/link_decoration.js"></script>
    <script type="text/javascript" src="/js/tweet.js"></script>
    <script type="text/javascript" src="/js/image_popup.js"></script>
    <script type="text/javascript" src="/js/job_ad.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSLPDMF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="page">
      <div class="page__header">
        <header class="header">
          <div class="b-head__nav">
            <ul class="b-menu">
              {% if page.url == '/' %}
                <li class="b-menu__item b-menu__item--active">
                  POSTS
                </li>
              {% else %}
                <li class="b-menu__item">
                  <a href="/">
                    POSTS
                  </a>
                </li>
              {% endif %}

              {% if page.url == '/about' %}
                <li class="b-menu__item b-menu__item--active">
                  ABOUT
                </li>
              {% else %}
                <li class="b-menu__item">
                  <a href="/about">
                    ABOUT
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </header>
      </div>

      <div class="page__body">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            {% if page.url == '/' %}
              <div class="page__avatar">
                <div class="avatar js-main-avatar">
                </div>

                <div class="avatar avatar--easter-egg js-easter-egg-avatar">
                </div>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
