---
layout: default
---

<div class="post">
  <div class="post__date">
    {{ page.date | date_to_string }}
  </div>
  <h1 class="post__title">
    {{ page.title }}
  </h1>

  <div class="post__content">
    {{ content }}
  </div>

  <div class="post__credits">
    <div class="credits">
      <div class="credits__author">
      </div>

      <div class="credits__share">
        <a href="#" class="tweet js-tweet">
          <div class="tweet__container">
            <div class="fa fa-twitter tweet__icon">
            </div>
            <div class="tweet__text">
              Tweet
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="post__job-ad">
    <div class="job-ad">
      <div class="job-ad__header">
        Are you full-stack developer or web designer? Join me at Growth Dev team at Blinkist!
      </div>

      <div class="job-ad__body">
        I work in Growth Development team at Blinkist (app that allows you to read/listen short versions of non-fiction books), we maintain our webapps, design & ship AB-tests, buidling API integrations, analyse user data to improve our web products for millions of users. If you’re Rails developer with a passion for front-end or a web designer with a passion for growth – send me an email or ping on Twitter.
      </div>

      <div class="job-ad__actions">
        <a class="job-ad__check-out-link tweet" href="https://hire.withgoogle.com/public/jobs/blinkistcom/view/P_AAAAAADAAADBQ6Llo4BRyN">
          <div class="tweet__container">
            <div class="tweet__text">
              Check out job ad
            </div>
          </div>
        </a>

        <a class="job-ad__not-interested-link" href="#">
          Not interested
        </a>
      </div>
    </div>
  </div>

  <div class="post__comments">
    <div id="disqus_thread"></div>
  </div>

  <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'makaroni4'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<div class="image-popup js-image-popup">
  <div class="image-popup__img js-image-popup-img">
  </div>
</div>
